-- 确保 messages 表已启用实时更新
ALTER PUBLICATION supabase_realtime ADD TABLE messages;

-- 允许匿名更新消息（用于撤回）
-- 建议在实际生产环境中使用 user_id 校验，但目前系统中 user_id 是随机生成的
DROP POLICY IF EXISTS \
Allow
anyone
to
update
own
messages\ ON messages;
CREATE POLICY \Allow
anyone
to
update
own
messages\ ON messages 
FOR UPDATE 
USING (true) 
WITH CHECK (true);

-- 提升实时同步精度（对于更新操作非常重要）
ALTER TABLE messages REPLICA IDENTITY FULL;

