ALTER TABLE messages ADD COLUMN IF NOT EXISTS is_recalled BOOLEAN DEFAULT FALSE;
ALTER TABLE messages ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS \
Allow
users
to
update
own
messages\ ON messages;
CREATE POLICY \Allow
users
to
update
own
messages\ ON messages FOR UPDATE USING (auth.uid()::text = user_id) WITH CHECK (auth.uid()::text = user_id);
-- Also need policy to allow anonymous/public update if user_id is just a random string
-- Since the current system uses random strings for user_id in localStorage, we can't easily use auth.uid()
-- We should probably allow update if the provided user_id matches
DROP POLICY IF EXISTS \Allow
anyone
to
update
own
messages
via
matching
id\ ON messages;
CREATE POLICY \Allow
anyone
to
update
own
messages
via
matching
id\ ON messages FOR UPDATE USING (true);
-- To be safe without full auth, we'll allow selection of all rows

