-- 确保 messages 表拥有所有必要的列
ALTER TABLE messages ADD COLUMN IF NOT EXISTS is_gm BOOLEAN DEFAULT FALSE;
ALTER TABLE messages ADD COLUMN IF NOT EXISTS is_recalled BOOLEAN DEFAULT FALSE;
ALTER TABLE messages ADD COLUMN IF NOT EXISTS country_code TEXT;
ALTER TABLE messages ADD COLUMN IF NOT EXISTS voice_duration INTEGER;
ALTER TABLE messages ADD COLUMN IF NOT EXISTS reply_to JSONB;

-- 如果你需要清理旧数据或确保类型正确，可以运行以下内容（可选）
-- COMMENT ON COLUMN messages.reply_to IS 'Stores quoted message info: {userName, content}';
